{{> header}}
These are the Area Forecast Discussions, issued by the National Weather Service offices that cover the immediate Toledo area.

=> forecast-discussion.gmi   Lucas, Ottawa, and Wood Counties
{{{cleveland}}}
=> nind-forecast-discussion.gmi    Fulton and Henry Counties
{{{indiana}}}
=> det-forecast-discussion.gmi    Lenawee and Monroe Counties
{{{detroit}}}


These are the three NWS offices that cover the Toledo area:

* Cleveland : covers Lucas, Ottawa, and Wood counties
* Northern Indiana : covers Fulton and Henry counties
* Detroit/Pontiac : covers Lenawee and Monroe counties in Michigan

Toledo's county is Lucas County. The other six counties border Lucas County.
{{> footer}}
