{{> header}}

### Radar images

=> https://s.w-x.co/staticmaps/wu/wxtype/county_loc/day/animate.png    Regional Radar

=> https://s.w-x.co/staticmaps/wu/wu/wxtype1200_cur/conus/animate.png    National Radar

=> https://cdn.star.nesdis.noaa.gov/GOES16/ABI/SECTOR/cgl/GEOCOLOR/thumbnail.jpg          Regional Cloud Cover Satellite

=> https://dsx.weather.com/util/image/map/actdew_1280x720.jpg?v=ap&w=1280&h=720&api=7db9fe61-7414-47b5-9871-e17d87b8b6a0    Dew Point Temps Map



### SPC images

=> {{{imagehome}}}/validww.png    Nationwide Watch Boxes
Red = Tornado Watch
Blue = Sevevere Thunderstorm Watch


=> {{{imagehome}}}/validmd.png    National Mesoscale Discussions



### National NWS headlines maps

=> https://forecast.weather.gov/wwamap/png/US.png     Map image

=> https://www.weather.gov    weather.gov



### Cle NWS headlines map

=> https://www.weather.gov/wwamap/png/cle.png    Map image    

=> https://www.weather.gov/cle/    Cle NWS homepage



### Det/Pon NWS headlines map

=> https://www.weather.gov/wwamap/png/dtx.png    Map image

=> https://www.weather.gov/dtx/    Det/Pon NWS homepage



### N. IN. NWS headlines map

=> https://www.weather.gov/wwamap/png/iwx.png    Map image

=> https://www.weather.gov/iwx/    N. IN. NWS homepage



### Radar Notes

Hi-Def Radar: Wunderground eliminated this excellent close, detailed radar image in Dec 2019. It could should the mayfly insect hatch that occurs in Lake Erie each summer.

Local Radar: Wunderground eliminated its good local radar image in early 2021 or around that timeframe. In the spring of 2021, I found the above animated gif image that surprisingly still existed at weather.gov, but for how long?

Regional Radar: NWS eliminated its simple, useful radar images in Dec 2020, replacing them with slow, bloated radar crap. Now using the Intellicast image, hosted at its new location. Unfortunately, this radar image can be three hours behind at times.


{{> footer}}
