{{> header}}

### Radar images

=> https://radblast-aws.wunderground.com/cgi-bin/radar/WUNIDS_map?station=DTW&brand=wui&num=6&delay=15&type=TR0&frame=0&scale=1.000&noclutter=0&t=1373479846&lat=0&lon=0&label=you&showstorms=0&map.x=400&map.y=240&centerx=400&centery=240&transx=0&transy=0&showlabels=1&severe=0&rainsnow=0&lightning=0&smooth=0    Hi Def Radar (not working)

=> https://radblast-mi.wunderground.com/cgi-bin/radar/WUNIDS_map?station=DTX&brand=wui&num=6&delay=15&type=N0R&frame=0&scale=0.750&noclutter=0&t=1305206220&lat=41.58666611&lon=-83.80777740&label=Toledo+Express%2C+OH&showstorms=0&map.x=400&map.y=240&centerx=454&centery=163&transx=54&transy=-77&showlabels=1&severe=1&rainsnow=0&lightning=0&smooth=0    Local Radar

=> http://images.intellicast.com/WxImages/RadarLoop/day_None_anim.gif    Regional Radar - Intellicast

=> https://radar.weather.gov/Conus/Loop/centgrtlakes_loop.gif    Regional Radar - NWS

=> https://weather.cod.edu/satrad/?parms=subregional-IL-02-24-0-100-1&checked=map&colorbar=undefined    Regional Cloud Cover Satellite

=> https://www.atmos.illinois.edu/weather/tree/viewer.pl?launch/sfctdp    Dew Point Temps Map 1

=> https://dsx.weather.com/util/image/map/actdew_1280x720.jpg?v=ap&w=1280&h=720&api=7db9fe61-7414-47b5-9871-e17d87b8b6a0    Dew Point Temps Map 2



### SPC images

=> {{{imagehome}}}/validww.png    Nationwide Watch Boxes
Red = Tornado Watch
Blue = Sevevere Thunderstorm Watch


=> {{{imagehome}}}/validmd.png    National Mesoscale Discussions



### National NWS headlines maps

=> https://forecast.weather.gov/wwamap/png/US.png     Map image

=> https://weather.gov    weather.gov



### Cle NWS headlines map

=> https://www.weather.gov/wwamap/png/cle.png    Map image    

=> https://www.weather.gov/cle/    Cle NWS homepage



### Det/Pon NWS headlines map

=> https://www.weather.gov/wwamap/png/dtx.png    Map image

=> https://www.weather.gov/dtx/    Det/Pon NWS homepage



### N. IN. NWS headlines map

=> https://www.weather.gov/wwamap/png/iwx.png    Map image

=> https://www.weather.gov/iwx/    N. IN. NWS homepage


{{> footer}}
