{{> header}}

## Convective Outlooks


### Day 1 Outlook

=> {{{wxhome}}}/day1otlk.gmi    Text

=> {{{imagehome}}}/{{{day1gif}}}    Image Map

=> {{{imagehome}}}/{{{day1tornadogif}}}   Prob Tornado Image Map

=> {{{imagehome}}}/{{{day1windgif}}}    Prob Wind Image Map

=> {{{imagehome}}}/{{{day1hailgif}}}    Prob Hail Image Map



### Day 2 Outlook

=> {{{wxhome}}}/day2otlk.gmi    Text

=> {{{imagehome}}}/{{{day2gif}}}     Image Map



### Day 3 Outlook

=> {{{wxhome}}}/day3otlk.gmi    Text

=> {{{imagehome}}}/{{{day3gif}}}    Image Map



### Day 4-8 Outlook

=> {{{wxhome}}}/day48otlk.gmi    Text

=> {{{imagehome}}}/day48prob.gif    Image Map


{{> footer}}
