{{> header}}
### NWS Radar images

=> /tolwx/images/det-pon-nws.gif   Det/Pon

=> /tolwx/images/n-in-nws.gif      N. IN

Note: In reality, those are animated GIF files, but Gemini browsers may display them as static GIFs.
{{> footer}}
